/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202020;
}

/* Changelogs Page */

h1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #fff;
    height: 100vh;
}